babbageprod/force-app/main/default/flows/doctor_and_office_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_0c75695b_5bde_45f4_b965_36bfd291a6dc</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_342e70e9_8e55_4cc2_8115_b0a4407550dd</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5bebf0cf_24e7_4670_b313_385d796d2e9f</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_743cc756_e0dc_42a2_a3de_7d1b3ecfcc6f</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7c74ca93_90f0_444c_965b_47b7019384cd</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_855f9cee_367e_4535_bfec_efebac4365a7</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8d59a6f6_1279_4ebc_a65c_000130e66427</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9b3114ba_3de2_4afd_a53a_a0b73a0b2352</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c43f6749_d7aa_4d51_955a_b8d3a7f1f7e0</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_eba21471_cf38_4eb1_aeae_96c8d9da06d8</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <interviewLabel>Doctor and Office Survey</interviewLabel>
    <label>Doctor and Office Survey</label>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_9ff9d359_62c8_4b9c_b169_e20a524993bd</name>
        <label>Office Rating</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_171056fc_6f61_47f1_8983_48ea7b49873a_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_171056fc_6f61_47f1_8983_48ea7b49873a</name>
            <choiceReferences>c_5bebf0cf_24e7_4670_b313_385d796d2e9f</choiceReferences>
            <choiceReferences>c_342e70e9_8e55_4cc2_8115_b0a4407550dd</choiceReferences>
            <choiceReferences>c_7c74ca93_90f0_444c_965b_47b7019384cd</choiceReferences>
            <choiceReferences>c_8d59a6f6_1279_4ebc_a65c_000130e66427</choiceReferences>
            <choiceReferences>c_9b3114ba_3de2_4afd_a53a_a0b73a0b2352</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;How would you rate the office as a whole?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>q_bcd386a9_6f57_4256_91f9_7bf0ac2022b6</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Optionally add any further comments.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_aad16539_5602_44bb_bd78_f1663d999873</name>
        <label>Doctor Rating</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_9ff9d359_62c8_4b9c_b169_e20a524993bd</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_e31045de_a258_4d5c_840d_fd6e41c69352_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_e31045de_a258_4d5c_840d_fd6e41c69352</name>
            <choiceReferences>c_0c75695b_5bde_45f4_b965_36bfd291a6dc</choiceReferences>
            <choiceReferences>c_743cc756_e0dc_42a2_a3de_7d1b3ecfcc6f</choiceReferences>
            <choiceReferences>c_c43f6749_d7aa_4d51_955a_b8d3a7f1f7e0</choiceReferences>
            <choiceReferences>c_eba21471_cf38_4eb1_aeae_96c8d9da06d8</choiceReferences>
            <choiceReferences>c_855f9cee_367e_4535_bfec_efebac4365a7</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;How would you rate your doctor?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>q_fcbd5e11_0a84_4066_b125_aa93639ac161</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Optionally add any further comments.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_aad16539_5602_44bb_bd78_f1663d999873</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <text/>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <text>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Thank you for your feedback!﻿&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <text>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Welcome! We would love to hear your feedback on your experience during your recent appointment.﻿&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_171056fc_6f61_47f1_8983_48ea7b49873a_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_e31045de_a258_4d5c_840d_fd6e41c69352_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
